

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }
    
    
    .leftbarsm {
    	display:none;
    }

}

/* Portrait tablets and small desktops */
@media  (max-width: 1023px) {
    html {
        font-size: 90%;	
    }
    
	h2, h3, h4, h5, h6 {
    	font-size: 2vw;
    	line-height:1.5rem;
    }
    
    p {
    	font-size: 1.2vw;
    }
    
    .footer {
    	display:block;
    }
    
    .leftbarsm {
    	display:block;
    }
    
    .leftbar {
    	display:none;
    }

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 2vw;
    }
	
	.grid-cell .empty-cell {
	width: 2%;
	}
	
	p {
		line-height: 1rem;
	}
   
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 1.5vw;
    }
	
	.grid-cell .empty-cell {
	width: 2%;
	}
	
	
}



@media (max-width: 320px) {

	.home-wrapper .home-content {
	padding-top:130px;	
    width:100%;
	}
    html {
        font-size: 60.5%;
    }
}

